### Exploring Customer Segmentation


<center>
    <img src = images/segments.jpeg>
</center>


In this activity, you are tasked with profiling customer groups for a large telecommunications company.  The data provided contains information on customers purchasing and useage behavior with the telecom products.  Your goal is to use PCA and clustering to segment these customers into meaningful groups, and report back your findings.  

Because these results need to be interpretable, it is important to keep the number of clusters reasonable.  Think about how you might represent some of the non-numeric features so that they can be included in your segmentation models.  You are to report back your approach and findings to the class.  Be specific about what features were used and how you interpret the resulting clusters.

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.linalg import svd
from sklearn.cluster import KMeans, DBSCAN
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('data/telco_churn_data.csv')

In [4]:
df.head()
print(df['Streaming TV'])

0        No
1        No
2       Yes
3       Yes
4        No
       ...
7038     No
7039    Yes
7040    Yes
7041     No
7042    Yes
Name: Streaming TV, Length: 7043, dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 46 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Referred a Friend                  7043 non-null   object
 2   Number of Referrals                7043 non-null   int64
 3   Tenure in Months                   7043 non-null   int64
 4   Offer                              3166 non-null   object
 5   Phone Service                      7043 non-null   object
 6   Avg Monthly Long Distance Charges  7043 non-null   float64
 7   Multiple Lines                     7043 non-null   object
 8   Internet Service                   7043 non-null   object
 9   Internet Type                      5517 non-null   object
 10  Avg Monthly GB Download            7043 non-null   int64
 11  Online Security                    7043 non-null   object
 12  Online Backup                      7043 non-null   object
 13  Device Protection Plan             7043 non-null   object
 14  Premium Tech Support               7043 non-null   object
 15  Streaming TV                       7043 non-null   object
 16  Streaming Movies                   7043 non-null   object
 17  Streaming Music                    7043 non-null   object
 18  Unlimited Data                     7043 non-null   object
 19  Contract                           7043 non-null   object
 20  Paperless Billing                  7043 non-null   object
 21  Payment Method                     7043 non-null   object
 22  Monthly Charge                     7043 non-null   float64
 23  Total Regular Charges              7043 non-null   float64
 24  Total Refunds                      7043 non-null   float64
 25  Total Extra Data Charges           7043 non-null   float64
 26  Total Long Distance Charges        7043 non-null   float64
 27  Gender                             7043 non-null   object
 28  Age                                7043 non-null   int64
 29  Under 30                           7043 non-null   object
 30  Senior Citizen                     7043 non-null   object
 31  Married                            7043 non-null   object
 32  Dependents                         7043 non-null   object
 33  Number of Dependents               7043 non-null   int64
 34  City                               7043 non-null   object
 35  Zip Code                           7043 non-null   int64
 36  Latitude                           7043 non-null   float64
 37  Longitude                          7043 non-null   float64
 38  Population                         7043 non-null   int64
 39  Churn Value                        7043 non-null   int64
 40  CLTV                               7043 non-null   int64
 41  Churn Category                     1869 non-null   object
 42  Churn Reason                       1869 non-null   object
 43  Total Customer Svc Requests        7043 non-null   int64
 44  Product/Service Issues Reported    7043 non-null   int64
 45  Customer Satisfaction              1834 non-null   float64
dtypes: float64(9), int64(11), object(26)
memory usage: 2.5+ MB

In [6]:
df.describe()

,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Regular Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Age,Number of Dependents,Zip Code,Latitude,Longitude,Population,Churn Value,CLTV,Total Customer Svc Requests,Product/Service Issues Reported,Customer Satisfaction
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,1834.000000
mean,1.951867,32.386767,22.958954,21.110890,65.538800,2280.381264,1.962182,278.499225,749.099262,46.509726,0.468692,93486.070567,36.197455,-119.756684,22139.603294,0.265370,4400.295755,1.338776,0.308107,3.005453
std,3.001199,24.542061,15.448113,20.948471,30.606805,2266.220462,7.902614,685.039625,846.660055,16.750352,0.962802,1856.767505,2.468929,2.154425,21152.392837,0.441561,1183.057152,1.430471,0.717514,1.256938
min,0.000000,1.000000,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000,0.000000,19.000000,0.000000,90001.000000,32.555828,-124.301372,11.000000,0.000000,2003.000000,0.000000,0.000000,1.000000
25%,0.000000,9.000000,9.210000,3.000000,35.890000,400.150000,0.000000,0.000000,70.545000,32.000000,0.000000,92101.000000,33.990646,-121.788090,2344.000000,0.000000,3469.000000,0.000000,0.000000,2.000000
50%,0.000000,29.000000,22.890000,17.000000,71.968000,1394.550000,0.000000,0.000000,401.440000,46.000000,0.000000,93518.000000,36.205465,-119.595293,17554.000000,0.000000,4527.000000,1.000000,0.000000,3.000000
75%,3.000000,55.000000,36.395000,28.000000,90.650000,3786.600000,0.000000,182.620000,1191.100000,60.000000,0.000000,95329.000000,38.161321,-117.969795,36125.000000,1.000000,5380.500000,2.000000,0.000000,4.000000
max,11.000000,72.000000,49.990000,94.000000,123.084000,8684.800000,49.790000,6477.000000,3564.720000,80.000000,9.000000,96150.000000,41.962127,-114.192901,105285.000000,1.000000,6500.000000,9.000000,6.000000,5.000000

In [7]:
#lots of Nan in certain columns. so let's drop it
df.isna().sum()

Customer ID                             0
Referred a Friend                       0
Number of Referrals                     0
Tenure in Months                        0
Offer                                3877
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Internet Type                        1526
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Regular Charges                   0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Gender                                  0
Age                                     0
Under 30                                0
Senior Citizen                          0
Married                                 0
Dependents                              0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Population                              0
Churn Value                             0
CLTV                                    0
Churn Category                       5174
Churn Reason                         5174
Total Customer Svc Requests             0
Product/Service Issues Reported         0
Customer Satisfaction                5209
dtype: int64

In [8]:
newdf = df.drop(columns={'Customer ID','Offer','Internet Type','Churn Category','Customer Satisfaction','Churn Reason'})
newdf.isna().sum()

Referred a Friend                       0
Number of Referrals                     0
Tenure in Months                        0
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Regular Charges                   0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Gender                                  0
Age                                     0
Under 30                                0
Senior Citizen                          0
Married                                 0
Dependents                              0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Population                              0
Churn Value                             0
CLTV                                    0
Total Customer Svc Requests             0
Product/Service Issues Reported         0
Customer Satisfaction                5209
dtype: int64

In [9]:
object_cols = newdf.select_dtypes('object').columns.tolist()
object_cols

['Referred a Friend',
 'Phone Service',
 'Multiple Lines',
 'Internet Service',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Contract',
 'Paperless Billing',
 'Payment Method',
 'Gender',
 'Under 30',
 'Senior Citizen',
 'Married',
 'Dependents',
 'City']

In [10]:
#toEncode = newdf.select_dtypes(include=['object']).columns.tolist()  #if we wanted to encode all object type columns
toEncode = ['Multiple Lines','Internet Service','Gender','Married','Dependents']
encoder = OneHotEncoder(drop='first', sparse_output=False)
one_hot_encoded = encoder.fit_transform(newdf[toEncode])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(toEncode))
one_hot_df

,Multiple Lines_Yes,Internet Service_Yes,Gender_Male,Married_Yes,Dependents_Yes
0,0.0,1.0,1.0,0.0,0.0
1,1.0,1.0,0.0,1.0,1.0
2,1.0,1.0,1.0,0.0,1.0
3,0.0,1.0,0.0,1.0,1.0
4,1.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...
7038,0.0,0.0,0.0,0.0,0.0
7039,1.0,1.0,1.0,1.0,1.0
7040,1.0,1.0,0.0,1.0,1.0
7041,0.0,1.0,0.0,1.0,1.0
7042,0.0,1.0,1.0,0.0,0.0

In [11]:
df_encoded = pd.concat([newdf, one_hot_df], axis=1)

# Drop the original categorical columns to make the df only numerical
df_cleaned = df_encoded.drop(object_cols, axis=1)

In [12]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Number of Referrals                7043 non-null   int64
 1   Tenure in Months                   7043 non-null   int64
 2   Avg Monthly Long Distance Charges  7043 non-null   float64
 3   Avg Monthly GB Download            7043 non-null   int64
 4   Monthly Charge                     7043 non-null   float64
 5   Total Regular Charges              7043 non-null   float64
 6   Total Refunds                      7043 non-null   float64
 7   Total Extra Data Charges           7043 non-null   float64
 8   Total Long Distance Charges        7043 non-null   float64
 9   Age                                7043 non-null   int64
 10  Number of Dependents               7043 non-null   int64
 11  Zip Code                           7043 non-null   int64
 12  Latitude                           7043 non-null   float64
 13  Longitude                          7043 non-null   float64
 14  Population                         7043 non-null   int64
 15  Churn Value                        7043 non-null   int64
 16  CLTV                               7043 non-null   int64
 17  Total Customer Svc Requests        7043 non-null   int64
 18  Product/Service Issues Reported    7043 non-null   int64
 19  Customer Satisfaction              1834 non-null   float64
 20  Multiple Lines_Yes                 7043 non-null   float64
 21  Internet Service_Yes               7043 non-null   float64
 22  Gender_Male                        7043 non-null   float64
 23  Married_Yes                        7043 non-null   float64
 24  Dependents_Yes                     7043 non-null   float64
dtypes: float64(14), int64(11)
memory usage: 1.3 MB

In [13]:
df_scaled = (df_cleaned - df_cleaned.mean())/df_cleaned.std()

In [14]:
U, s, Vt = svd(df_scaled, full_matrices = False)
Sigma = np.diag(s)

value =  np.cumsum(s)/s.sum()
sns.lineplot(data=value, marker='*')

ValueError: array must not contain infs or NaNs

In [ ]:
#method to see how many columns to keep to retain specific % of detail from original table
percent_variance_explained = s/s.sum()
components = int((np.cumsum(percent_variance_explained) < 0.8).sum())  #how many components to get atleast 80% details
components
#this is how many components to keep

In [ ]:
#we should keep atleast 14 components to get at least 80% details but 14 is too many??
#reduce components to 3
pca = PCA(n_components=4)
pca.fit(df_scaled)
transformed_pca_manual = pca.transform(df_scaled)

print(type(transformed_pca_manual))
plt.figure(figsize=(8,6))
ax1 = plt.axes(projection='3d')
ax1.scatter3D(transformed_pca_manual[:,0], transformed_pca_manual[:,1], transformed_pca_manual[:,2], alpha = 0.4)

In [ ]:
transformed_pca_manual

## Result of PCA is the transformed_pca_manual

### Instead of running manual PCA we can use PCA from Skylearn

In [ ]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_cleaned)

In [ ]:
pca_all = PCA()
pca_all.fit(scaled_data)

In [ ]:
pca_all.explained_variance_ratio_.round(2)

In [ ]:
scree_data_all = pd.DataFrame({'Principle Component':range(1,len(pca_all.explained_variance_ratio_)+1),
                               'Explained Variance Ratio': pca_all.explained_variance_ratio_})
scree_data_all

In [ ]:
plt.figure(figsize=(10,6))
plt.plot(scree_data_all['Principle Component'],scree_data_all['Explained Variance Ratio'], marker='.')
plt.title('Scree plot of Explained Variance Ratio for all components')
plt.xlabel('Principle Component')
plt.ylabel('Explained Variance Ratio')
plt.xticks(scree_data_all['Principle Component'])
plt.grid(axis='y', alpha=0.4)
plt.show()

In [ ]:
pca = PCA(n_components=5)
transformed_pca = pca.fit_transform(scaled_data)

## Looking at Kmeans

In [ ]:
means = []
inertias = []
def optimize_k_means(data, max_k):
    for k in range(1, max_k):
        kmeans = KMeans(n_clusters=k, n_init=10, random_state=42)
        kmeans.fit(data)

        means.append(k)
        inertias.append(kmeans.inertia_)

    fig = plt.subplots(figsize=(10,5))
    plt.plot(means, inertias, 'o-')
    plt.xlabel('Number of Clusters')
    plt.ylabel('Inertias')
    plt.grid(True)
    plt.show()

In [ ]:
optimize_k_means(transformed_pca, 10)

The Elbow Method is a straightforward technique to visualize how the variance within clusters changes as the number of clusters increases. The idea is to plot the sum of squared distances (inertia) between data points and their assigned centroids for different values of 'K'. As 'K' increases, the inertia tends to decrease since more centroids provide a closer fit to data points. However, there's a point where the rate of decrease slows down, forming an "elbow" in the plot. The 'K' value at the elbow can be considered as the optimal number of clusters, as it balances capturing variance and avoiding over-segmentation.

In [ ]:
inertias

In [ ]:
kmeans = KMeans(n_clusters=3, n_init = 10, random_state= 42)
cluster_labels = kmeans.fit_predict(df_scaled)
df_cleaned['cluster'] = cluster_labels

### df_cleaned dataframe is now an all numeric dataframe with cluster category applied to each row

In [ ]:
cluster_means = df_cleaned.groupby('cluster').mean().round(2)
cluster_means.info()

In [ ]:
plot_df = pd.DataFrame({
    'x':transformed_pca[:,0],
    'y':transformed_pca[:,1],
    'Cluster': cluster_labels.astype(str)
})

In [ ]:
plt.figure(figsize=(10,8))
sns.scatterplot(data=plot_df, x='x', y='y', hue='Cluster', palette='viridis')
plt.title('Customer Segmentation using PCA and Kmeans clustering')
plt.xlabel('Principle Component 1')
plt.ylabel('Principle Component 2')
plt.show()

In [ ]:
grouped_df = df_cleaned.groupby('cluster')[['Tenure in Months','Total Regular Charges']]
grouped_df.head()

In [ ]:
tenure_regCharges_df = pd.DataFrame({
    'x':df_cleaned['Tenure in Months'],
    'y':df_cleaned['Monthly Charge'],
    'Cluster': cluster_labels.astype(str)
})

In [ ]:
plt.figure(figsize=(10,8))
sns.scatterplot(data=tenure_regCharges_df, x='x', y='y', hue='Cluster', palette='viridis')
plt.title('Customer Segmentation')
plt.xlabel('Tenure in Months')
plt.ylabel('Monthly Charge')
plt.show()

cluster 0 - customers who are willing to pay less to stay with the company.
cluster 1 - customers who are willing to pay a high monthly amount but won't stay with the company too long
cluster 2 - customers who are willing to pay higher and still willing to stay with the company.